.level-box {
    background: linear-gradient(rgba(0, 255, 0, 0.15), rgba(0, 255, 0, 0.15)), url("../../images/level-card-bg.png");
    background-size: cover;
    min-width: 130px !important;
    height: 140px !important;
    /* margin: auto */
    /* border: 1px solid black; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 65px;
    font-size: 2rem;
    color: rgba(13, 103, 13, 0.2);
    font-weight: bold;
}
.level-box-green{
    background: linear-gradient(rgba(255, 0, 0, 0.15), rgba(255, 0, 0, 0.15)), url("../../images/level-card-bg.png");
    background-size: cover;
    min-width: 130px !important;
    height: 140px !important;
    /* margin: auto */
    /* border: 1px solid black; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 65px;
    font-size: 2rem;
    color: rgba(255, 0, 0,0.3);
    font-weight: bold;
}
.level-box-locked{
    /* background: linear-gradient(rgba(0, 255, 0, 0.15), rgba(0, 255, 0, 0.15)), url("../../images/level-card-bg.png"); */
    background-size: cover;
    min-width: 130px !important;
    height: 140px !important;
    /* margin: auto */
    /* border: 1px solid black; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 65px;
    color: rgb(255, 255, 255);
}
.levels-outer-div::-webkit-scrollbar {
    display: none;
}

.levels-outer-div {
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
}