.MuiBackdrop-root{
    position: absolute !important;
}
.MuiBox-root{
    position: absolute !important;
}
.MuiModal-root{
    position: absolute !important;
}
@media only screen and (max-width: 550px) {
    .MuiBox-root {
        width: 90% !important;
    }
}